<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=0" name="viewport"/>
	<title></title>
	<style>
		*{padding: 0px;margin: 0px;text-decoration: none;box-sizing: border-box;}
		.warp {width: 100%;}
		header{height: 50px;line-height: 50px;text-align: center;border-bottom: 1px solid #f00;}
		.container {margin-top: 20px;}
		.cate {margin-bottom: 15px;width:100%;display: flex;-webkit-flex-wrap: wrap;flex-wrap: wrap;}
		.p {width: 33.33%;height: 100px;margin-bottom: 15px;padding: 0px 10px;}
		.p a {color: #fff;background: #00f;display: block;width: 100%;height: 100%;}
	</style>
</head>
<body>
<section class="warp">
	<header>
		<h4>产品列表</h4>
	</header>
	<section class="container">
		<section class="cate">
			<section class="p"><a href="">1</a></section>
			<section class="p"><a href="">2</a></section>
			<section class="p"><a href="">3</a></section>
			<section class="p"><a href="">4</a></section>
			<section class="p"><a href="">5</a></section>
			<section class="p"><a href="">6</a></section>
			<section class="p"><a href="">7</a></section>
		</section>
	</section>
</section>
</body>
</html>
