<extend name="Public:base"/>

<block name='resmenu'>active open</block>

<block name='ressubmenuvideomgrtv'>active</block>

<block name="pagecont">

	<div id="main-container">

		<div class="padding-md">

			<div class="panel panel-default table-responsive">

				<div class="panel-heading">

					<h4>电视剧管理

						<span class="label label-info pull-right">共 {$total} 项</span></h4>

				</div>

				<div class="panel-body">

					<div class="row">

						<div class="col-md-4 col-sm-4">

							<a href="{:U('Resource/tvaddvideo')}" class="btn btn-sm btn-success" type="button"><i class="fa fa-plus fa-lg"></i> 增加电视剧</a>

						</div><!-- /.col -->

					</div><!-- /.row -->

				</div>

				<table class="table table-striped" id="responsiveTable">

					<thead>

					<tr>

						<th width="12%">视频名称</th>

						<th width="6%">属性</th>

						<th width="6%">推荐</th>

						<th width="6%">播放量</th>

						<th width="6%">状态</th>

						<th width="28%">操作</th>

					</tr>

					</thead>

					<tbody>

					<volist name="data" id="vo">

						<tr>

							<td>{$vo.name}</td>

							<td>{$vo.category}</td>

							<td><if condition="($vo.isrecommend eq '0')"><a class="btn btn-success btn-xs">不推荐</a>
								<else/>
								<a class="btn btn-danger btn-xs">推荐</a></if></td>

							<td class="center">{$vo.viewtimes}</td>

							<td class="center">

								<if condition="($vo.status eq 1) ">

									<a class="btn btn-success btn-xs">正常</a>

									<else/>

									<a class="btn btn-danger btn-xs">下架</a>

								</if>

							</td>

							<td class="center">
								<a href="{:U('Resource/tvnummgr',array('id'=>$vo['id']))}" type="button" class="btn btn-outline btn-primary btn-xs">集数管理</a>

								<if condition="($vo.isrecommend eq 0) ">
									<a type="button" class="btn btn-outline btn-primary btn-xs" href="{:U('Resource/vedio_isrecommend',array('id'=>$vo['id'],'isrecommend'=>'1'))}" onclick="if(!confirm('您是否确定推荐该视频？？')){return  false;}">设为推荐</a>
									<else/>
									<a type="button" class="btn btn-outline btn-primary btn-xs" href="{:U('Resource/vedio_isrecommend',array('id'=>$vo['id'],'isrecommend'=>'0'))}" onclick="if(!confirm('您是否确定不推荐该视频？？')){return  false;}">取消推荐</a>
								</if>

								<if condition="($vo.slide eq 0) ">
									<a type="button" class="btn btn-outline btn-primary btn-xs" href="{:U('Resource/videoslide',array('id'=>$vo['id'],'slide'=>'1'))}" onclick="if(!confirm('您是否确定将此设置为幻灯片显示？？')){return  false;}">设置幻灯片</a>
									<else/>
									<a type="button" class="btn btn-outline btn-primary btn-xs" href="{:U('Resource/videoslide',array('id'=>$vo['id'],'slide'=>'0'))}" onclick="if(!confirm('您是否确定取消设置为幻灯片显示？？')){return  false;}">取消幻灯片</a>
								</if>

								<!--<a href="{:U('Resource/videoplay',array('uuid'=>$vo['uuid'],'name'=>$vo['name'],'type'=>$vo['type'],'filepath'=>$vo['filepath']))}" type="button" class="btn btn-outline btn-primary btn-xs">播放</a>-->
								<a href="{:U('Resource/videoplay',array('id'=>$vo['id']))}" type="button" class="btn btn-outline btn-primary btn-xs">播放</a>

								<a href="{$Think.config.RESOURCE_URL}/{$vo['filepath']}" type="button" class="btn btn-outline btn-primary btn-xs">下载</a>

								<a href="{:U('Resource/tveditvideo',array('id'=>$vo['id']))}" type="button" class="btn btn-outline btn-primary btn-xs">修改</a>

								<a type="button" class="btn btn-outline btn-primary btn-xs" href="{:U('Resource/delvideo',array('id'=>$vo['id']))}" onclick="if(!confirm('您是否确定要删除该视频记录？')){return  false;}">删除</a>

								<if condition="($vo.status eq 2) ">

									<a type="button" class="btn btn-outline btn-primary btn-xs" href="{:U('Resource/chgvideostatus',array('id'=>$vo['id'],'status'=>'1'))}" onclick="if(!confirm('您是否确定要上架该视频？？')){return  false;}">上架</a>

									<else/>

									<a type="button" class="btn btn-outline btn-primary btn-xs" href="{:U('Resource/chgvideostatus',array('id'=>$vo['id'],'status'=>'2'))}" onclick="if(!confirm('您是否确定要下架该视频？？')){return  false;}">下架</a>

								</if>

							</td>

						</tr>

					</volist>

					</tbody>

				</table>

				<div class="panel-footer clearfix">
					<ul class='pagination pagination-xs m-top-none pull-right'>
						{$page}
					</ul>
				</div>

			</div><!-- /panel -->

		</div><!-- /.padding-md -->

	</div><!-- /main-container -->

</block>

